html {
    background-color: #ffffff;
}

.container {
    padding-right: 10%;
    padding-left: 10%;
}

.is-light{
    color: white;
}

.about-hero {
    margin-top: -100px;
    background-image: url('https://i.imgur.com/jBttun9.png'); 
    background-repeat: no-repeat;
    background-position: top-center; 
    background-color: #442555;
} 

.has-bg-img { 
    margin-top: -75px;
    background-image: url('https://i.imgur.com/X0Uy9Uc.png'); 
    background-repeat: no-repeat;
    background-position: center; 
    background-color: #442555;

}


.media {
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.line {
    margin-left: 10%;
    margin-right: 10%;
}

.link{
    text-decoration: none;
    color: black;
}

.is-2 {
    padding-top: 20px;


}

.post-list {
    border: 1px solid  gainsboro;
    padding: .5rem;
    box-shadow: 0 -1px 4px #ede7e7;
    margin: 1rem;
}

.post-list:hover{
    background-color: whitesmoke;
}


.tags{
    padding-top: 5%;
    display: flex;
    flex-direction: column;
}

.tags a{
    margin-bottom: 2rem;
    list-style: none;
    background-color:#442555;
    border: 1px solid #ffff;
    border: 1px solid #ffff;
    width: 80%;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #ffffff;
}

.contact{
    padding-top: 20px;
    padding-left: 20%;
    padding-right: 20%;
}

.fa-arrow-alt-circle-down{
    margin-top: 100px;
    margin-left: 50%;
}