html {
    background-color: #ffffff;
}

.has-bg-img { 
  /*  background-image: url('https://i.imgur.com/0sqhJvp.jpg'); */
    background-repeat: no-repeat;
   
}

.hero-body{
    margin-bottom: 50px;
}

.media {
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.line {
    margin-left: 10%;
    margin-right: 10%;
}

.link{
    text-decoration: none;
    color: black;
}

.post-list {
    border: 1px solid  gainsboro;
    padding: .5rem;
    box-shadow: 0 -1px 4px #ede7e7;
    margin: 1rem;
}

img{
  height: 95% !important;
  padding: 0,
}

.post-list:hover{
    background-color: whitesmoke;
}


.tags{
    padding-top: 5%;
    display: flex;
    flex-direction: column;
}

.tags a{
    margin-bottom: 2rem;
    list-style: none;
    background-color: #ececec;
    border: 1px solid #ffff;
    border: 1px solid #ffff;
    width: 80%;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: rgb(31, 26, 26);
}

.contact{
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
}