
.container {
    padding-right: 10%!important;
    padding-left: 10%!important;
    width: 100%!important;
    overflow: hidden!important;
}

.is-light{
    color: white!important;
    font-size: 24px!important;
    font-weight: 300!important;
}


.navbar-item{
    color: #fff!important;    
    font-weight: 300!important;
}

.is-purple {
    background-color: #442555!important;
}

.video-container {
    position: relative!important;
    overflow:hidden!important;
}

.about-hero {
    background-size: cover!important;
    background-repeat: no-repeat;
    background-color: #442555;
} 

.contact-hero {
    background-size: contain!important;
    background-position: top!important; 
    background-color: #442555;
    padding-bottom: 40px;
} 

.episodes-hero {
    background-size: cover;
    background-color: #442555;
    background-repeat: no-repeat;
} 

.has-bg-img { 
    background-image: url('https://i.imgur.com/X0Uy9Uc.png'); 
    background-size: contain;
    height: 625px;
    background-repeat: no-repeat;
    background-position: center; 
    background-color: #442555;

}

.media {
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.line {
    margin-left: 10%;
    margin-right: 10%;
}

.bio {
    padding-bottom: 30px!important;
    font-size: 16px!important;
    line-height: 1.25em!important;
}

.link{
    text-decoration: none;
    color: #442754!important;
}

.is-latest {
    text-align: center;
    color: #442754!important;
    font-size: 20px!important;
    font-weight: 300!important;
    padding-top: -50px!important;
}

.is-3 {
    color: #442754!important;
    font-size: 18px!important;
}

.is-4 {
    color: #442754!important;
    font-size: 18px!important;
    padding-top: 20px!important;
}

.is-5 {
    color:  #442754!important;
}

.is-tags {
    margin-top: -10px!important;
    color: #2695f0!important;
}

a link {
    margin-left: 5px!important;
}


.post-list {
    border: 1px solid  #f1ba4c!important;
    padding: .5rem;
    margin: 1rem;
    background-color: white;
    
}

.navbar-burger{
    color: #f1ba4c!important;
    background-color: #442754!important;

}
.navbar-menu.is-active {
    background-color: #442754!important;
}


a.navbar-item:hover {
    background-color: #442754!important;
    color: #f1ba4c!important;    
}

.post-list:hover{
    background-color: whitesmoke;
}


.tags{
    padding-top: 5%;
    display: flex;
    flex-direction: column;
}

.tags a{
    margin-bottom: 2rem;
    list-style: none;
    background-color:#442555;
    width: 80%;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #f1ba4c!important;
}

.prev-next{
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 100px;
}

.contact{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}

.fa-play {
    margin-right: 10px;
    color: #f1ba4c!important;
}

.fa-arrow-down {
    margin-right: 10px;
    color: #f1ba4c!important;
}

.is-small {
    font-size: 16px!important;
    line-height: 1.25em!important;
    font-weight: 300!important;
}

.nandik{
    color: #f1ba4c!important;
    padding-left: 5px;
}


.shaund{
    color: #f1ba4c!important;
    padding-left: 5px;
}

.leo{
    color: #f1ba4c!important;
    padding-left: 5px;
}

.is-warning {
    background-color: #f1ba4c!important;
    color: black;
}