.footer {
    font-size: 10px!important;
    background-color: #442754!important;
    color: white!important;
}

.navbar {
    padding-left:10px;
    text-decoration: none;
}

.menu-label {
    padding: 5px;
}


.fa-level-down-alt{
    margin-right: 2px;
}


