.footer {
    height: 55px;
}

.navbar {
    padding-left:10px;
}

.menu-label {
    padding: 5px;
}

.fa-home {
    margin-right: 2px;
}

.fa-search {
    margin-right: 2px;
}

.fa-envelope {
    margin-right: 2px;
}


