.footer {
    height: 55px;
}

.navbar {
    padding-left:10px;
}

.menu-label {
    padding: 5px;
}

.fa-headphones {
    margin-right: 2px;
}

.fa-level-down-alt{
    margin-right: 2px;
}

.fa-envelope {
    margin-right: 2px;
}


