.footer {
    background-color: #ffffff;
    padding: 20px;
}

.navbar {
    padding-left:10px;
    padding-right:50px;
}

.menu-label {
    padding: 5px;
}

.fa-home {
    margin-right: 2px;
}

.fa-search {
    margin-right: 2px;
}

.fa-envelope {
    margin-right: 2px;
}

